body {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 10px 10px 5px 12px rgb(222, 222, 222);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555555;
}

.message {
  text-align: center;
}

.message a {
  color: #333333;
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}
.message2{
  text-align: center;
}
.fa-facebook{
  margin: 10px 5px 10px 200px;
}
.fa-google{
  margin: 10px 200px 10px 10px;
}